* {
  cursor: default;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  background-color: hsl(0, 100%, 80%);
  color: hsl(25, 100%, 90%);
  height: 120vh;
  margin: 0;

  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

header {
  margin-bottom: 0px;
}

section#receitas {
  /* margin: 0px;  */
  margin-top: -10px;
  margin-bottom: 25px;
}

h1 {
  color: darkred;
  text-align: center;
}

h2 {
  color: hsl(0, 100%, 60%);
  margin: 0;
  padding-top: 3px;
  margin-bottom: 15px;
  margin-left: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: red;
}

th,
td {
  background-color: pink;
  padding: 5px;
}

th {
  font-family: cursive, Arial, Helvetica, sans-serif;
  background-color: red;
  color: white;
  padding: 8px;
}

td {
  width: 33%;
  max-width: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: hsl(0, 100%, 60%);
}

img {
  width: 100%;
  border-radius: 5px;
}

p.content {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;

  color: hsl(25, 100%, 90%);
  text-align: justify;
  margin-right: 10px;
  margin-left: 10px;
}

a {
  font-size: 1em;

  color: red;
  width: 100%;
  text-align: center;
}

nav {
  background-color: indianred;
  padding: 10px;
}

a.links-u {
  color: white;
  text-decoration: underline;
}

a,
a>span {
  cursor: pointer;
}

iframe#video-1 {
  background-color: hsla(16, 100%, 50%, 0.5);
  width: 90%;
  max-width: 800px;
  border-style: solid;
  border-width: 5px;
  border-color: orange;
  border-radius: 10px;
  padding: 5px;
}

mark {
  background-color: pink;
  color: darkred;
  padding-right: 2.5px;
  padding-left: 2.5px;
  border-radius: 2.5px;
}

#out-footer {
  display: none;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  line-height: 20px;
  z-index: 0;
}

footer {
  display: none;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  left: 0%;
  top: 120%;
  transform: translate(0%, -120%);

  background-image: linear-gradient(hsla(0, 100%, 35%, 0), hsla(0, 100%, 35%, 0.8), hsla(0, 100%, 35%, 1), hsla(0, 100%, 35%, 1));
  color: white;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  transition: 500ms;
  cursor: pointer;
  z-index: 1;

  &:hover {
    top: 115%;
  }
}

footer>h3,
footer>ul,
footer>ul>li,
footer>ul>li>i,
footer>p,
footer>p>small {
  cursor: pointer;
}

footer>ul>li {
  font-weight: bolder;
  color: pink;
  width: 100%;
  margin: 10px;
}

.icon {
  font-size: 1.25em;
}

li {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(255, 85, 85);
}

i.i-footer {
  background-color: white;
  color: red;
  padding: 2.5px;
  border-radius: 2.5px;
  margin-right: 1px;
}

#link-css {
  position: fixed;
  background-color: hsla(0, 100%, 50%, 0.5);
  color: white;
  padding: 5px;
  border-radius: 2.5px;
}

#caminhos>li {
  color: rgb(255, 85, 85);
}

#tipos_de_receitas {
  margin-left: 1px;
  padding-left: 5px;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-style: solid;
  border-width: 3px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: hsla(0, 100%, 50%, 1);
}